.textBlock {
    h1,
    h2,
    h3,
    h4 {
        margin: 0;
    }
}

.accordion {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 10px;

    p {
        margin: 0 0 0 5px;
        line-height: 17px;
    }
}

.paginator {
    position: sticky;
    bottom: 20px;
}

.p-datatable-wrapper {
    * {
        text-align: center;
        align-self: center;
    }
}

.deleteBtn {
    margin-bottom: 20px;
}

.img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    font-size: 12px;
}

.disclosureBug {
    p {
        margin: 0;
    }
}

.contentWrapper {
    border: none;
    background: transparent;
    display: flex;
    align-items: start;
    gap: 10px;
    outline: none;
    position: relative;
}

.tableWrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 10px;
    position: sticky;
    top: -20px;
}

.input {
    margin-top: 20px;
}

.detailedComparisonLinkWrapper {
    cursor: not-allowed;
    margin: 20px;
}

.detailedComparisonLink {
    h3 {
        margin: 0;
        color: rgb(100 100 100 / 70%);
    }
}

.active {
    cursor: pointer;

    h3 {
        color: transparent !important;
        font: var(--font-m);
        font-weight: bold;
        -webkit-background-clip: text !important;
        background-clip: text !important;
        background-image: var(--accent-gradient) !important;
    }
}

.skeletonWrapper {
    align-items: start;
    position: relative;
}

.skeletonCard {
    padding: 10px 15px;
    border-radius: 8px;
    outline: 2px solid rgb(255 255 255 / 6%);
}

.skeletonList {
    width: 40%;
}

.skeletonListFetching {
    width: 100%;
}

.skeletonTable {
    width: 60%;
}
