.textBlock {
    h1,
    h2,
    h3,
    h4 {
        margin: 0;
    }
}

.p-datatable-wrapper {
    * {
        text-align: center;
        align-self: center;
    }
}

.deleteBtn {
    margin-bottom: 20px;
}

.img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background: red;
}

.contentWrapper {
    border: none;
    outline: none;
    background: transparent;
    display: flex;
    align-items: start;
    position: relative;
	gap: 10px;
}

.tableWrapper {
    position: sticky;
    top: -20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 10px;
}

.detailedComparisonLinkWrapper {
    cursor: pointer;
    margin: 20px;
}

.detailedComparisonLink {
    h3 {
        margin: 0;
    }
}
