.textBlock {
    h1,
    h2,
    h3,
    h4 {
        margin: 0;
    }
}

.deleteBtn {
    margin-bottom: 20px;
}

.img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background: red;
}

.contentWrapper {
    border: none;
    outline: none;
    background: transparent;
    display: flex;
    align-items: start;
    position: relative;
	gap: 10px;
}

.accordion {
}

.tableWrapper {
    position: sticky;
    top: -20px;
}
