@import "reset";
@import "./variables/globals";
@import "./variables/custom";
@import "./themes/normal";
@import "./themes/dark";
@import "bootstrap/scss/bootstrap";

$dark-mode: false;

.app,
.app_modal {
    color: var(--primary-color);
    font: var(--font-m);
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
}

.page {
    display: flex;
}
