.LoginForm {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.loginBtn {
    margin-top: 15px;
    margin-left: auto;
}

.loginError {
    padding: 5px;
    border-radius: 5px;
    color: var(--light-red);
    background: var(--inverted-bg-color);
}
