.LoginForm {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input {
    font-size: 20px;
    text-align: left;
}

.loginBtn {
    margin-top: 15px;
    margin-left: auto;
}

.loginError {
    padding: 5px;
    border-radius: 5px;
    color: var(--light-red);
    background: var(--inverted-bg-color);
}

.regLink {
    margin-right: auto;
    margin-bottom: 15px;
}

.alert {
    p {
        margin: 0;
        padding: 0;
    }
}
