.PageNavbar {
    padding: 10px;
    border-radius: 5px;
    background: var(--inverted-bg-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    position: sticky;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    gap: 5px;
}

.button {
    margin-left: auto;
}
