@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "../themes/dark";
@import "../themes/normal";

$theme-colors: (
    primary: #234d7b,
    secondary: #3b3c3e,
    success: #1e6111,
    info:  #64c3d2,
    warning: #f5e74a,
    danger: #820410,
    dark: #192734
);
$table-border-color: #234d7b;
$table-color: #2f2fb3;
$table-striped-color: #4343b2;
$table-hover-color: #425183;
$modal-header-border-color: #4343b2;
$modal-content-color: #0449e0;
$modal-content-bg: #38445b;
