@import "reset";
@import "./variables/globals";
@import "./themes/normal";
@import "./variables/primereact";
@import "primereact/resources/themes/bootstrap4-dark-blue/theme.css";

.app,
.app_modal {
    color: var(--primary-color);
    font: var(--font-m);
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
}

.page {
    display: flex;
}

*::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

*::-webkit-scrollbar-track {
    background: var(--inverted-bg-color);
}

*::-webkit-scrollbar-thumb {
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    background-color: var(--bg-color);
}

svg {
    overflow: visible;
}
