.wrapper {
    width: 390px;
    height: 500px;
    flex-shrink: 0;
}

.FolderCard {
    height: 100%;
    padding: 30px;
    border-radius: 16px;
    flex-grow: 1;
    outline: 4px solid #b6f09c;
}

.text {
    p {
        font-weight: bold;
    }
}

.expand {
    cursor: pointer;
    height: 36px;
    padding: 2px;
    border-radius: 8px;
    background: gray;
    font-size: 16px;
    transition: 200ms;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 20px;

    &:hover {
        color: black;
        background: #b6f09c;
        transform: scale(1.05);
    }
}

.addIcon {
    width: 75px;
    height: 75px;
    color: #b6f09c;
    transition: 200ms;

    &:hover {
        transform: scale(1.05);
    }
}

.header {
    cursor: pointer;
}

.icon {
    margin-right: 10px;
}
