.card {
    width: 340px;
    margin: 40px 0;
}

.textBlock {
    h1 {
        margin: 0;
    }
}

.descriptionTable {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 10px;

    p {
        color: var(--text-color);
        text-indent: 0;
    }
}

.link {
    &:visited,
    &:link {
        color: var(--text-color);
        transition: 100ms ease-in-out;
    }

    &:hover {
        color: var(--primary-color);
    }
}
