.MainPage {
    * { text-align: left; }
}

h2 {
    margin-top: 30px;

    &:first-child {
        margin-top: 0;
    }
}

p {
    text-indent: 20px;
}

a {
    color: var(--primary-color);
    font-size: 1.5em;
    text-decoration: none;
}
