.card {
    min-height: 460px;
    display: flex;
    align-items: start;
    justify-content: center;
}

.title {
    text-transform: uppercase;
    margin-bottom: 20px;
}

.best {
    margin-top: 20px;
}

.scoreWrapper {

}

.gradCard {
    margin-bottom: 20px;
}

.textBlock {
    h1,
    h2,
    h3,
    h4 {
        margin: 0;
    }
}

.radar {
    height: 314px;
}

.firstLine {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 15px;
}

.secondLine {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 15px;
}
