.card {
    display: flex;
    align-items: start;
    justify-content: center;
    min-height: 460px;
}

.error {
    height: calc(100vh - 175px);
}

.title {
    text-transform: uppercase;
    margin-bottom: 20px;
    justify-self: start;
}

.best {
    height: 100%;
}

.gradCard {
    margin-bottom: 20px;
}

.textBlock {
    h1,
    h2,
    h3,
    h4 {
        margin: 0;
    }
}

.firstLine {
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    grid-gap: 15px;
}

.candidatesFrame {
    overflow-y: auto;
    max-height: 550px;
}

.secondLine {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}

.cardStack {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
