.Card {
    padding: 10px;
    border-radius: 5px;
    background: var(--inverted-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
    outline: 2px solid var(--secondary-color);
}

.table-bordered {
    vertical-align: middle;
}
