p,
h2 {
    margin: 0;
    padding: 0;
}

.DetailedComparisonPage {
    height: 100%;
    display: grid;
    margin-top: 15px;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
}

.candidatesPhotos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    align-content: center;
    justify-items: center;

    p {
        margin: 0;
        padding: 0;
        text-align: center;
    }
}

.candidateImg {
    width: 100px;
    height: 100px;
    border-radius: 15px;
}

.commonComparison {
    grid-row: 3 / span 3;
    grid-column: 1 / span 2;
}

.detailedCard {
    padding: 20px;
    margin-top: 15px;
}

.candidatesCards {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 20px;
}

.candidateCard {
    position: relative;
    margin-right: -30px;

    &:last-child {
        left: 0;
        margin-right: 0;
    }
}

.comparison {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
