.AuthPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

.text {
    z-index: 10;
}

.icon {
    color: transparent !important;
    font-size: 650px !important;
    line-height: 100% !important;
    -webkit-background-clip: text !important;
    background-clip: text !important;
    background-image: var(--accent-gradient) !important;
    font-family: Montserrat, sans-serif;
    position: absolute;
    filter: opacity(0.15);
    z-index: 1;
}
