.Page {
    height: 100vh;
    padding: 40px 105px;
    background: var(--bg-color);
    overflow-y: auto;
    flex-shrink: 100;
    flex-grow: 1;
    position: relative;
}

.arrow {
    position: fixed;
    bottom: 50px;
    right: 50px;
}
