$dark-mode: false;

.app_light_theme {
    //$dark-mode: false;

    // background
    --bg-color: #e0e0e0;
    --inverted-bg-color: #fff;

    // текст
    --primary-color: #2f2fb3;
    --inverted-primary-color: #049604;

    // вторичный цвет
    --secondary-color: #0449e0;
    --inverted-secondary-color: #04ff04;

    // skeleton
    --skeleton-shadow: #275594;
    --skeleton-color: #0e0e75;

    // card
    --card-bg: #8ca3c2;
}
