.card {
    padding: 10px 20px;
    border: 2px solid var(--text-color);
    border-radius: 8px;
    transition: 200ms;

    &:hover {
        cursor: pointer;
        transform: translateX(-10px);
    }
}

.disabled {
    cursor: not-allowed;
    filter: blur(2px);

    * {
        filter: blur(2px);
    }
}
