.accordionButton {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.infoWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;

    p {
        margin: 0;
        padding: 0;
    }
}

.icon {
    width: 30px;
    height: 30px;
    transition: 200ms;
    transform: rotate(180deg);
}

.open {
    transform: rotate(0deg);
}

.accordionBody {
    padding: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.info {
    p {
        margin: 0;
        padding: 0;
        text-align: justify;
    }
}

.loaderCard {
    height: 100px;
    background: red;
}
