.input {
    display: none;
}

.label {
    cursor: pointer;
    width: 220px;
    height: 220px;
    padding: 10px 15px;
    border-radius: 8px;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    outline: 1px solid #686b6e;
}

.text {
    width: 100%;

    p {
        color: #82dbf7;
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.img {
    width: 180px;
    height: 180px;
    border-radius: 8px;
}
