:root {
    --font-family-main: "Montserrat", sans-serif;

    // s
    --font-size-s: 20px;
    --font-line-s: 28px;
    --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);

    // m
    --font-size-m: 24px;
    --font-line-m: 32px;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

    // l
    --font-size-l: 32px;
    --font-line-l: 40px;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

    // xl
    --font-size-xl: 36px;
    --font-line-xl: 44px;
    --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

    //  Размеры
    --navbar-heigth: 95px;
    --sidebar-width: 100px;

    // z - index
    --modal-z-index: 100;

    // overlay color
    --overlay-color: rgba(0 0 0 / 60%);

    // colors
    --light-red: #f00;
    --dark-red: #a80303;
    --light-green: #449f46;
    --dark-green: #009314;
}
